{% extends 'base.html.twig' %}

{% block title %}Listado de formatos{% endblock %}

{% block body %}
    <h1 class="titulo">Listado de formatos</h1>

     <table class="table table-hover table-dark titulo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for formato in formatos %}
            <tr>
                <td>{{ formato.id }}</td>
                <td>{{ formato.nombre }}</td>
                <td>
                   
                    <a class="btn btn-primary" href="{{ path('formato_edit', {'id': formato.id}) }}">Editar</a>
                    {{ include('formato/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay resultados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(formatos) }}
</div>

    <a class="btn btn-primary crear" href="{{ path('formato_new') }}">Crear nuevo</a>
{% endblock %}
