{% extends 'base.html.twig' %}

{% block title %}Formato{% endblock %}

{% block body %}
    <h1>Formato</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formato.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ formato.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formato_index') }}">back to list</a>

    <a href="{{ path('formato_edit', {'id': formato.id}) }}">edit</a>

    {{ include('formato/_delete_form.html.twig') }}
{% endblock %}
