{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

   

    {{ form_start(registrationForm,{attr:{'class' : 'form-signin', 'id':'registrationform'}}) }}
     
    <h1 class="h3 mb-3 font-weight-normal">Formulario de registro</h1>
        
        {{ form_widget(registrationForm.email, {attr:{'placeholder' : 'Email', 'class':'form-control'}}) }}
        {{ form_widget(registrationForm.password, {attr:{'placeholder' : 'Contraseña', 'class':'form-control'}}) }}
  
        
       
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_label(registrationForm.agreeTerms,'Aceptar los términos') }}<br>

        <button type="submit" class="btn btn-primary">Registrar</button>
    {{ form_end(registrationForm) }}
    
{% endblock %}
 {% block javascripts %}
<script>
$(document).ready(function(){
    $("#registration_form_password").attr("type", "password");
})

function mostrar() {
  var x = document.getElementById("correo_password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
{% endblock %}
