{{ form_start(form, {attr:{'class' : 'mantenimiento', 'id':'movimientoform'}}) }}
    {{ form_row(form.nombre) }}
    {{form_label(form.tipoNombre, 'Tipo del movimiento')}}
    {{form_widget(form.tipoNombre)}}
    {{form_widget(form)}}
    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
     <a class="btn btn-primary" href="{{ path('movimiento_index') }}">Volver al listado</a>
{{ form_end(form) }}
