{% extends 'base.html.twig' %}

{% block title %}Listado movimientos{% endblock %}

{% block body %}
    <h1 class="titulo">Listado movimientos</h1>

    <table class="table table-hover table-dark titulo">
        <thead>
            <tr>
                <th>Id Movimiento</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.idMov }}</td>
                <td>{{ movimiento.nombre }}</td>
                <td>{{ movimiento.tiponombre.nombre }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('movimiento_edit', {'idMov': movimiento.idMov}) }}">Editar</a>
                    
                    {{ include('movimiento/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay resultados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(movimientos) }}
</div>

    <a class="btn btn-primary crear" href="{{ path('movimiento_new') }}">Crear nuevo</a>
{% endblock %}
