{% extends 'base.html.twig' %}

{% block title %}Movimiento{% endblock %}

{% block body %}
    <h1>Movimiento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdMov</th>
                <td>{{ movimiento.idMov }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ movimiento.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movimiento_index') }}">back to list</a>

    <a href="{{ path('movimiento_edit', {'idMov': movimiento.idMov}) }}">edit</a>

    {{ include('movimiento/_delete_form.html.twig') }}
{% endblock %}
