{% extends 'base.html.twig' %}

{% block title %}EquipoContienePokemon index{% endblock %}

{% block body %}
    <h1>EquipoContienePokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Mov1</th>
                <th>Mov2</th>
                <th>Mov3</th>
                <th>Mov4</th>
                <th>Objeto</th>
                <th>Habilidad</th>
                <th>Spread</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo_contiene_pokemon in equipo_contiene_pokemons %}
            <tr>
                <td>{{ equipo_contiene_pokemon.mov1 }}</td>
                <td>{{ equipo_contiene_pokemon.mov2 }}</td>
                <td>{{ equipo_contiene_pokemon.mov3 }}</td>
                <td>{{ equipo_contiene_pokemon.mov4 }}</td>
                <td>{{ equipo_contiene_pokemon.objeto }}</td>
                <td>{{ equipo_contiene_pokemon.habilidad }}</td>
                <td>{{ equipo_contiene_pokemon.spread }}</td>
                <td>
                    <a href="{{ path('equipo_contiene_pokemon_show', {'pokemonIdpoke': equipo_contiene_pokemon.pokemonIdpoke}) }}">show</a>
                    <a href="{{ path('equipo_contiene_pokemon_edit', {'pokemonIdpoke': equipo_contiene_pokemon.pokemonIdpoke}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipo_contiene_pokemon_new') }}">Create new</a>
{% endblock %}
