{% extends 'base.html.twig' %}

{% block title %}EquipoContienePokemon{% endblock %}

{% block body %}
    <h1>EquipoContienePokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Mov1</th>
                <td>{{ equipo_contiene_pokemon.mov1 }}</td>
            </tr>
            <tr>
                <th>Mov2</th>
                <td>{{ equipo_contiene_pokemon.mov2 }}</td>
            </tr>
            <tr>
                <th>Mov3</th>
                <td>{{ equipo_contiene_pokemon.mov3 }}</td>
            </tr>
            <tr>
                <th>Mov4</th>
                <td>{{ equipo_contiene_pokemon.mov4 }}</td>
            </tr>
            <tr>
                <th>Objeto</th>
                <td>{{ equipo_contiene_pokemon.objeto }}</td>
            </tr>
            <tr>
                <th>Habilidad</th>
                <td>{{ equipo_contiene_pokemon.habilidad }}</td>
            </tr>
            <tr>
                <th>Spread</th>
                <td>{{ equipo_contiene_pokemon.spread }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipo_contiene_pokemon_index') }}">back to list</a>

    <a href="{{ path('equipo_contiene_pokemon_edit', {'pokemonIdpoke': equipo_contiene_pokemon.pokemonIdpoke}) }}">edit</a>

    {{ include('equipo_contiene_pokemon/_delete_form.html.twig') }}
{% endblock %}
