{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idpoke</th>
                <th>Nombre</th>
                <th>Hp</th>
                <th>Atq</th>
                <th>Def</th>
                <th>Spa</th>
                <th>Spd</th>
                <th>Vel</th>
                <th>Foto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.idpoke }}</td>
                <td>{{ pokemon.nombre }}</td>
                <td>{{ pokemon.hp }}</td>
                <td>{{ pokemon.atq }}</td>
                <td>{{ pokemon.def }}</td>
                <td>{{ pokemon.spa }}</td>
                <td>{{ pokemon.spd }}</td>
                <td>{{ pokemon.vel }}</td>
                <td>{{ pokemon.foto }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'idpoke': pokemon.idpoke}) }}">show</a>
                    <a href="{{ path('pokemon_edit', {'idpoke': pokemon.idpoke}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pokemon_new') }}">Create new</a>
{% endblock %}
