{{ form_start(form, {attr:{'class' : 'mantenimiento', 'id':'pokeformatform'}}) }}
    {{ form_label(form.pokemonIdpoke, 'Pokémon')}}
    {{ form_widget(form.pokemonIdpoke)}}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
     <a class="btn btn-primary"  href="{{ path('pokemon_esta_en_formato_index') }}">Volver al listado</a>
{{ form_end(form) }}
