{% extends 'base.html.twig' %}

{% block title %}Pokémon{% endblock %}

{% block body %}
<h1 class="titulo">{{ pokemon.nombre }}</h1>
<div>
    <img width="100" heigh="100" src="{{ asset('imagenes//'~ pokemon.foto) }}" alt="{{pokemon.nombre}}">
    <img width="100" heigh="50"  src="{{ asset('imagenes/tipos//'~ pokemon.tipoNombre[0].nombre ) }}" alt="{{pokemon.tipoNombre[0].nombre}}">
   {% if pokemon.tipoNombre[1] is defined %}
    <img width="100" heigh="50"  src="{{ asset('imagenes/tipos//'~ pokemon.tipoNombre[1].nombre ) }}" alt="{{pokemon.tipoNombre[1].nombre}}">
    {% endif %}
    


</div>


<div class="row">
    <div class="col-sm-4">
        <h1 class="titulo">Estadísticas</h1>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="progress">
                HP
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ (pokemon.hp*100)/mayor }}%" aria-valuenow="{{pokemon.hp}}" aria-valuemin="0" aria-valuemax="{{mayor}}">{{pokemon.hp}}</div>
                </div>
                
            </li>
            <li class="list-group-item"><div class="progress">
                Atk
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ (pokemon.atq*100)/mayor }}%" aria-valuenow="{{pokemon.atq}}" aria-valuemin="0" aria-valuemax="{{mayor}}">{{pokemon.atq}}</div>
                </div>
            </li>
            <li class="list-group-item"><div class="progress">
                Def
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ (pokemon.def*100)/mayor }}%" aria-valuenow="{{pokemon.def}}" aria-valuemin="0" aria-valuemax="{{mayor}}">{{pokemon.def}}</div>
                </div>
            </li>
            <li class="list-group-item"><div class="progress">
                Spa
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ (pokemon.spa*100)/mayor }}%" aria-valuenow="{{pokemon.spa}}" aria-valuemin="0" aria-valuemax="{{mayor}}">{{pokemon.spa}}</div>
                </div>
            </li>
            <li class="list-group-item"><div class="progress">
                Spd
                <div class="progress-bar" role="progressbar" style="width: {{ (pokemon.spd*100)/mayor }}%" aria-valuenow="{{pokemon.spd}}" aria-valuemin="0" aria-valuemax="{{mayor}}">{{pokemon.spd}}</div>
                </div>
            </li>
            <li class="list-group-item"><div class="progress">
                Vel
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ (pokemon.vel*100)/mayor }}%" aria-valuenow="{{pokemon.vel}}" aria-valuemin="0" aria-valuemax="{{mayor}}">{{pokemon.vel}}</div>
                </div>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') and format != null  %}
           <a class="btn btn-primary anadir" href="{{ path('poke_edit', {'idpoke': pokemon.idpoke}) }}">Editar</a>
        {% endif %}
    </div>
    <div class="col-sm-4">
        <h1 class="titulo">Movimientos</h1>
        <ul class="list-group">
        {% set i = 0 %}
        {% for a in ataques %}
            {% if i < 5 %}
            <li class="list-group-item">{{ataques[i].movimiento.nombre}} - <img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ a.movimiento.tipoNombre.nombre ) }}" alt="{{a.movimiento.tipoNombre.nombre}}"> - {{a.porcentajeUso}} %</li>
             {% endif %} 
             {% set i = i+1 %}
        {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') and format != null %}
           <a class="btn btn-primary anadir" href="{{ path('anadir_mov', {'idpoke': pokemon.idpoke, 'format': format.id }) }}">Añadir</a>
        {% endif %} 
    </div>
    <div class="col-sm-4">
        <h1 class="titulo">Objetos</h1>
        <ul class="list-group">
        {% set i = 0 %}
        {% for object in objetos %}
         {% if i < 5 %}
            <li class="list-group-item">{{object.objetoIdobjeto.nombre}} - {{object.porcentajeUso}} %</li>
             {% endif %} 
             {% set i = i+1 %}
        {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') and format != null %}
           <a class="btn btn-primary anadir" href="{{ path('anadir_obj', {'idpoke': pokemon.idpoke, 'format': format.id }) }}">Añadir</a>
           
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <h1 class="titulo">Habilidades</h1>
        <ul class="list-group">
        {% set i = 0 %}
        {% for hab in habilidades %}
             {% if i < 3 %}
            <li class="list-group-item">{{hab.habilidad.nombre}} - {{hab.porcentajeUso}} %</li>
            {% endif %}
             {% set i = i+1 %}
        {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') and format != null %}
           <a class="btn btn-primary anadir" href="{{ path('anadir_hab', {'idpoke': pokemon.idpoke, 'format': format.id }) }}">Añadir</a>
        {% endif %}
        </div>
        <div class="col-sm-4">
        <h1 class="titulo">Compañeros</h1>
        <ul class="list-group">
        {% set i = 0 %}
        {% for comp in companeros %}
             {% if i < 5 %}
            <li class="list-group-item">
            <img width="50" heigh="25" src="{{ asset('imagenes//'~ comp.pokemonIdpoke1.nombre|replace({' ': ''})) }}" alt="{{comp.pokemonIdpoke1.nombre}}">
                {% if format != null %}
            <a class="action" href="{{ path('poke_show', {'idpoke': comp.pokemonIdpoke1.idpoke, 'format': format.id }) }}">{{comp.pokemonIdpoke1.nombre}}</a>
            {% else %}
            {{comp.pokemonIdpoke1.nombre}}
            {% endif %} - {{comp.porcentajeUso}} %</li>
                
            {% endif %}
             {% set i = i+1 %}
        {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') and format != null %}
           <a class="btn btn-primary anadir" href="{{ path('anadir_partner', {'idpoke': pokemon.idpoke, 'format': format.id }) }}">Añadir</a>
        {% endif %}
        </div>
        <div class="col-sm-4">
        <h1 class="titulo">Spread</h1>
        <ul class="list-group">
        {% set i = 0 %}
        {% for spread in spreads %}
        {% if i < 5 %}
            <li class="list-group-item">{{spread.spreadIdspread.stats}} - {{spread.porcentajeUso}} %</li>
            {% endif %}
             {% set i = i+1 %}
        {% endfor %}
        </ul>
        {% if is_granted('ROLE_ADMIN') and format != null %}
           <a class="btn btn-primary anadir" href="{{ path('anadir_spread', {'idpoke': pokemon.idpoke, 'format': format.id }) }}">Añadir</a>
        {% endif %}
        </div>
</div>
{% endblock %}
