 <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
        
  <a id="titulo-menu" class="navbar-brand" href="{{path('poke_index')}}">Pikalytics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('poke_index')}}">Pokédex <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="">Team builder</a>
      </li>
      </li>
       
        <li class="nav-item">
        <a class="nav-link" href="{{path('articulos_index')}}">Artículos</a>
      </li>
      
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mantenimiento simple
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('formato_index')}}">Formato</a>
          <a class="dropdown-item" href="{{path('movimiento_index')}}">Movimiento</a>
          <a class="dropdown-item" href="{{path('objeto_index')}}">Objeto</a>
          <a class="dropdown-item" href="{{path('habilidad_index')}}">Habilidad</a>
          <a class="dropdown-item" href="{{path('spread_index')}}">Spread</a>
          <a class="dropdown-item" href="{{path('articulo_index')}}">Artículos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mantenimiento relaciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{path('pokemon_esta_en_formato_index')}}">Pokemon - Formato</a>
          <a class="dropdown-item" href="{{path('poke_puede_aprender_mov_index')}}">Pokemon - Movimiento</a>
          <a class="dropdown-item" href="{{path('poke_usa_obj_index')}}">Pokemon - Objeto</a>
          <a class="dropdown-item" href="{{path('poke_tiene_habilidad_index')}}">Pokemon - Habilidad</a>
          <a class="dropdown-item" href="{{path('pokemon_tiene_spread_index')}}">Pokemon - Spread</a>
          <a class="dropdown-item" href="{{path('pokemon_tiene_partner_index')}}">Pokemon - Partner</a>
        </div>
      </li>
      {% endif %}
    </ul>
    
  </div>
{% if not app.user %}
  <a href="{{path('app_login')}}" class="btn btn-info login">Iniciar sesión</a>
  <a href="{{path('app_register')}}" class="btn btn-info login">Crear cuenta</a>
  {% endif %}
  {% if app.user %}
  <span>{{app.user.username}}</span>
  <a href="{{path('app_logout')}}" class="btn btn-info login">Cerrar sesión</a>
  {% endif %}
</nav>
