{% extends 'base.html.twig' %}
{% block title %}Participantes{% endblock %}
{% block body %}

<div class="accordion" id="accordion">
{% set j = 0 %}
{% set i = 0 %}
     
 
{% for poke in equipos %}
 {% if i == 6 %}
    {% set j = j + 1 %}
    {% set i = 0 %}
  {% endif %}   
      {% if i == 0 and j == 0 %}
      <div class="card z-depth-0 bordered">
        <div class="card-header" id={{"heading"~j}}>
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target={{"#collapse"~j}} aria-expanded="true" aria-controls={{"collapse"~j}}>
            {{poke.jugadorIdjugador.nombre}}
            </button>
        </h5>
    </div>
    
        <div id={{"collapse"~j}} class="collapse show" aria-labelledby={{"heading"~j}} data-parent="#accordion">
      <div class="card-body">
      {% elseif i == 0 %}
        <div class="card z-depth-0 bordered">
    <div class="card-header" id={{"heading"~j}}>
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target={{"#collapse"~j}} aria-expanded="false" aria-controls={{"collapse"~j}}>
          {{poke.jugadorIdjugador.nombre}}
        </button>
      </h5>
    </div>

    <div id={{"collapse"~j}} class="collapse" aria-labelledby={{"heading"~j}} data-parent="#accordion">
      <div class="card-body">
       {% endif %}
       
        <div class="pokedex_entry">
                <li class="list-group-item ">
                <img width="50" heigh="50" src="{{ asset('imagenes//'~ poke.pokemonIdpoke.foto) }}" alt="{{poke.pokemonIdpoke.nombre}}"> {{ poke.pokemonIdpoke.nombre }} 
                <img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ poke.pokemonIdpoke.tipoNombre[0].nombre ) }}" alt="{{poke.pokemonIdpoke.tipoNombre[0].nombre}}">
                    {% if poke.pokemonIdpoke.tipoNombre[1] is defined %}
                        <img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ poke.pokemonIdpoke.tipoNombre[1].nombre ) }}" alt="{{poke.pokemonIdpoke.tipoNombre[1].nombre}}">
                    {% endif %}
                    <br>
                    <p><span class="objeto">Objeto</span>: {{poke.objeto.nombre }}<br>                  
                    <span class="hab">Habilidad</span>: {{poke.habilidad.nombre }}<br>     
                    <span class="movs">Movimientos</span><br> 
                    <span class="mov">Mov1</span>: {{poke.mov1.nombre }}<img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ poke.mov1.tipoNombre ) }}" alt="{{poke.mov1.tipoNombre}}"><br> 
                    <span class="mov">Mov2</span>: {{poke.mov2.nombre }}<img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ poke.mov2.tipoNombre ) }}" alt="{{poke.mov2.tipoNombre}}"><br> 
                    <span class="mov">Mov3</span>: {{poke.mov3.nombre }}<img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ poke.mov3.tipoNombre ) }}" alt="{{poke.mov3.tipoNombre}}"><br> 
                    <span class="mov">Mov4</span>: {{poke.mov4.nombre }}<img width="50" heigh="25"  src="{{ asset('imagenes/tipos//'~ poke.mov4.tipoNombre ) }}" alt="{{poke.mov4.tipoNombre}}"></p>   
                </li>
                </div>
        {% if i == 5 %}   
            </div>
            </div>
        </div>
        {% endif %}
        {% set i = i + 1 %}
        
{% else %}
       No hay datos.
{% endfor %} 
     
</div>
{% endblock %}